table thead th{
    white-space:normal
}
.menu--mobile .v-card{
    border-color:#6a1b9a!important
}
.menu--mobile .name-service{
    margin-top:5px;
    height:35px;
    line-clamp:2;
    line-height:98%;
    font-size:.7rem;
    font-weight:400;
    color:#6a1b9a
}
.stackSheet[data-v-aadaf22c]{
    position:relative
}
.stackSpark[data-v-aadaf22c]{
    position:absolute;
    top:0;
    left:0
}
.twitter-navigation{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:center;
    height:50px
}
.twitter-navigation__wrapper{
    display:flex;
    align-items:center;
    max-width:400px;
    width:100%
}
.twitter-navigation__zoom-icon{
    height:18.75px;
    width:18.75px;
    fill:#657786;
    flex-shrink:0
}
.twitter-navigation__zoom-icon--left{
    margin-right:10px
}
.twitter-navigation__zoom-icon--right{
    margin-left:10px
}
.twitter-navigation__line-wrapper{
    height:20px;
    flex-direction:column;
    justify-content:center;
    cursor:pointer
}
.twitter-navigation__line,.twitter-navigation__line-wrapper{
    width:100%;
    display:flex;
    align-items:center;
    border-radius:5px
}
.twitter-navigation__line{
    background:#8ed0f9;
    height:5px;
    position:relative
}
.twitter-navigation__fill{
    background:#1da1f2;
    align-self:stretch;
    flex-basis:auto;
    flex-direction:column;
    flex-shrink:0
}
.twitter-navigation__circle{
    width:30px;
    height:30px;
    margin-left:-15px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    transition-duration:.2s;
    transition-property:background-color,box-shadow;
    background-color:transparent
}
.twitter-navigation__circle:hover{
    background-color:rgba(29,161,242,.1)
}
.twitter-navigation__circle--focus{
    background-color:rgba(29,161,242,.2)
}
.twitter-navigation__inner-circle{
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:#1da1f2;
    transform:scale(1);
    transition-duration:.1s;
    transition-property:transform;
    box-shadow:0 0 7px rgba(101,119,134,.2),0 1px 3px 1px rgba(101,119,134,.15)
}
.twitter-navigation__inner-circle--focus{
    transform:scale(1.2)
}
.twitter-cropper{
    height:300px
}
.twitter-cropper__background,.twitter-cropper__foreground{
    background-color:#edf2f4
}
.twitter-cropper{
    height:350px
}
.twitter-cropper__stencil{
    border:5px solid #1da1f2
}
.cropper-wrapper{
    overflow:hidden;
    position:relative;
    height:350px;
    background:#fff
}
.cropper-background{
    background:0 0
}
.image-background{
    position:absolute;
    width:calc(100% + 10px);
    height:calc(100% + 10px);
    left:-10px;
    top:-10px;
    background-size:cover;
    background-position:50%;
    filter:blur(15px)
}
.v-card--reveal{
    position:absolute
}
.v-application,body,html{
    font-family:Poppins,Helvetica,"sans-serif";
    font-size:15px!important;
    font-weight:300;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.border-right{
    border-right:1px solid grey
}
.bg-init .v-main__wrap{
    background-color:#fff;
    background-position:top;
    background-repeat:repeat-y
}
a{
    text-decoration:none
}
.dialog_notification__request{
    align-self:flex-start!important
}
.header-bar .v-toolbar__content{
    padding-right:0!important
}
.fz-13,.v-navigation-drawer .v-list .v-list-item__content .v-list-item__title{
    font-size:13px!important
}
@media(min-width:1400px){
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{
        max-width:1320px
    }
}
.theme--light.v-application{
    background-color:#fbf9f6!important
}
.v-footer ul{
    padding-left:0!important
}
.v-footer ul li{
    list-style:none!important;
    font-size:12px
}
.v-toolbar__title{
    font-weight:700
}
.theme--light.v-app-bar.v-toolbar.v-sheet{
    background-color:#fff
}
.form-login .logo,.logo-forms{
    background-position:50%;
    background-size:contain;
    width:200px;
    height:200px
}
.theme--light.v-application .text--secondary{
    color:#7b1fa2!important
}
.theme--light.v-application .text--primary{
    color:#11205f!important
}
.v-application .v-navigation-drawer--mini-variant{
    width:100px!important
}
.display-6{
    font-size:calc(1.375rem + 1.5vw);
    font-weight:600;
    line-height:1.2
}
.border-right{
    border-right:1px solid #eff2f5!important
}
.border-bottom{
    border-bottom:1px solid #eff2f5!important
}
.main-menu .v-btn{
    padding:16px!important
}
.main-menu .v-btn .v-btn__content .menu-description{
    display:block;
    max-width:90%;
    height:40px;
    align-items:baseline
}
.main-menu .v-btn .v-btn__content .v-icon.v-icon{
    font-size:36px
}
@media(max-width:600px){
    .main-menu .v-btn .v-btn__content .menu-description{
        font-size:10px
    }
    .main-menu .v-btn .v-btn__content .v-icon.v-icon{
        font-size:24px!important;
        margin-bottom:20px
    }
}
@media(min-width:1200px){
    .display-6{
        font-size:2rem
    }
}
.fw-bolder{
    font-weight:600!important
}
.fw-light{
    font-weight:100!important
}
.fw-normal{
    font-weight:300!important
}
.comprovante-body,.form-login{
    max-width:420px
}
.v-label{
    font-weight:600;
    font-size:14px!important
}
.v-input__icon--append .theme--light.v-icon{
    color:#11205f
}
.btn-menu-acesso span{
    margin-top:10px
}
.theme--light .menuAcessoRapido .v-card__text,.theme--light .menuAcessoRapido .v-icon{
    color:#fff
}
.theme--light .menuAcessoRapido a{
    color:#fff!important
}
.theme--light .menuAcessoRapido a:hover{
    opacity:.8;
    color:#000
}
.table-expansion-dashboard tr td{
    font-size:12px!important;
    padding:0!important
}
.pointer{
    cursor:pointer!important
}
.carousel-movimento .v-carousel__controls .v-icon{
    color:#11205f!important
}
.carousel-movimento .v-carousel__controls .v-item--active .v-icon{
    color:red!important
}
.extrato-movimento{
    font-size:13px!important
}
.extrato-movimento .v-expansion-panel-content__wrap{
    padding-top:16px!important
}
.extrato-movimento .v-toolbar__title{
    font-size:11px!important
}
.table-comprovante tbody tr td{
    font-size:12px!important
}
.v-card--reveal{
    bottom:0;
    opacity:1!important;
    width:100%
}
.swal2-styled.swal2-confirm{
    border:0;
    border-radius:.25em;
    background:initial;
    background-color:#7b1fa2!important;
    color:#fff;
    font-size:1em
}
.swal2-title{
    font-size:1.4em!important
}
.form-pin input{
    text-align:center
}
.v-list-item__content{
    cursor:pointer!important
}
.v-btn__content{
    text-transform:none!important
}
.pwd-validation li{
    color:#e57373
}
.pwd-validation li.is_valid_pwd{
    color:#43a047!important
}
.is_valid_pwd:before{
    width:100%
}
.pwd_checkmark_container{
    border-radius:50%;
    position:absolute;
    top:-15px;
    right:-15px;
    background:#2ecc71;
    width:50px;
    height:50px;
    visibility:hidden;
    opacity:0;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:opacity .4s ease
}
.pwd_show_checkmark{
    visibility:visible;
    opacity:1
}
.pwd_checkmark{
    width:100%;
    height:100%;
    fill:none;
    stroke:#fff;
    stroke-width:15;
    stroke-linecap:round;
    stroke-dasharray:180;
    stroke-dashoffset:180
}
.pwd_checked{
    animation:draw .5s ease forwards
}
@keyframes draw{
    to{
        stroke-dashoffset:0
    }
}
.v-application ul.v-breadcrumbs{
    padding-left:0!important
}
@media only screen and (max-width:959px){
    .v-stepper:not(.v-stepper--vertical) .v-stepper__label{
        font-size:9px;
        display:flex!important
    }
}
.centered-input input{
    text-align:center!important
}
#formSwap .v-text-field .v-input__append-inner{
    margin-top:10px!important
}
#formSwap .btnNetworkOut .v-btn__content{
    display:inline-block!important
}
#formSwap h5{
    font-size:14px!important
}
