{%extends 'structure.html'%}
{%load static%}

{%block title%}Professor do Cassino{%endblock%}

{%block static%}
    <link rel='stylesheet' href='{%static "css/home/index.css"%}'>
{%endblock%} 

{%block fonts%}

{%endblock%}


{%block content%}
    <section class="main no-mobile">
        <div class="main-container">
            <div class="main-right main-sides">
                <div class="main-card card-container-logo">
                    <svg id="logo" class="no-select" version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="612.000000pt" height="419.000000pt" viewBox="0 0 612.000000 419.000000"
                    preserveAspectRatio="xMidYMid meet">
                        <g transform="translate(0.000000,419.000000) scale(0.100000,-0.100000)"
                        fill="#000000" stroke="none">
                            <path d="M4216 2642 c-3 -5 1 -15 9 -22 8 -7 15 -20 15 -29 0 -14 -15 -16
                            -108 -17 -86 0 -127 -6 -207 -28 -90 -25 -118 -28 -285 -31 -212 -4 -241 -10
                            -416 -86 -180 -77 -223 -87 -609 -134 -219 -27 -288 -40 -420 -80 -68 -20 -87
                            -23 -125 -14 -84 19 -182 -3 -405 -90 -117 -46 -258 -81 -329 -81 -70 0 -173
                            31 -368 110 -65 26 -118 46 -118 45 0 -9 154 -98 230 -134 106 -49 189 -71
                            274 -71 78 0 233 29 347 65 45 14 109 28 143 32 l61 6 -44 -49 c-23 -27 -65
                            -83 -92 -125 -28 -43 -61 -82 -77 -89 -75 -34 -116 -43 -248 -49 l-141 -7 -86
                            -70 c-131 -104 -240 -164 -299 -164 -75 0 -116 -27 -102 -65 9 -21 47 -30 132
                            -30 71 0 75 1 245 88 165 84 175 87 237 87 61 -1 64 -2 45 -16 -11 -9 -71 -40
                            -132 -70 -117 -57 -136 -74 -211 -185 -56 -84 -128 -155 -169 -167 -52 -16
                            -103 -49 -103 -67 0 -35 81 -46 162 -21 36 10 77 42 189 144 l142 131 146 46
                            c308 99 516 197 611 288 17 16 81 41 195 77 257 79 294 79 680 -5 343 -76 434
                            -78 624 -15 l83 28 108 -110 107 -111 109 6 c200 12 358 27 444 42 l85 15 50
                            -49 c27 -27 60 -54 72 -60 49 -25 119 -4 112 34 -2 10 -24 29 -49 42 -25 13
                            -49 28 -54 33 -16 16 78 12 119 -6 31 -13 46 -13 85 -4 53 13 90 41 90 70 0
                            29 -17 34 -130 37 -58 2 -138 5 -178 6 l-72 3 -73 71 c-110 107 -99 103 -272
                            103 -202 0 -214 4 -244 78 l-23 59 20 40 c25 49 87 124 116 140 36 21 126 14
                            241 -16 214 -58 381 -76 421 -47 18 14 18 15 1 22 -24 9 -3 24 34 24 29 0 89
                            49 89 72 0 8 -48 38 -112 69 -105 50 -116 58 -158 116 -50 69 -89 93 -185 114
                            -36 8 -75 24 -97 42 -38 30 -120 49 -132 29z m171 -884 c29 -18 53 -36 53 -42
                            0 -5 -24 -6 -57 -3 -72 8 -163 28 -163 37 0 6 83 37 105 39 5 1 33 -13 62 -31z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="main-left main-sides">
                <div class="main-card card-container-login">
                    <div class="card-container-login-title no-select">
                        <h1>Login</h1>
                    </div>
                    <div class="card-container-login-form">
                        <div class="card-login">
                            <div class="card-login-title">
                                <h3 class="no-select">Usuário</h3>
                            </div>
                            <div class="card-login-input">
                                <input type="text" name="username" id="username" placeholder="Seu usuário...">
                            </div>
                        </div>
                        <div class="card-login">
                            <div class="card-login-title">
                                <h3 class="no-select">Senha</h3>
                            </div>
                            <div class="card-login-input">
                                <input type="password" name="password" id="password" placeholder="Sua senha...">
                            </div>
                        </div>
                        <div class="card-login-button">
                            <div class="btn-login no-select">Entrar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}

{%block scripts%}
    <script src="{%static 'js/home/index.js'%}"></script>
{%endblock%}